[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django-heroku = "*"
django-phonenumber-field = {version = "*", extras = ["phonenumbers"]}
django-storages = {version = "*", extras = ["google"]}
pillow = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9.6"
